$primary-color: #08002e;
$secondary-color: #EEEBD3;
$third-color: #FFF275;
$display-color: rgb(211, 162, 202);
$equalbtn-color: #BB6B00; 
$backup-color: rgb(176, 69, 130);


* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: $secondary-color;
    background-image: url(../wallpapersden.com_artistic-landscape-view_1920x1080.jpg);
    background-size: cover;
    .calculator {
        width: 70%;
        background-color: $primary-color;
        border: 5px solid black;
        border-radius: 20px;
        opacity: 0.85;
        .calculator__display {
            background-color: $backup-color;
            height: 90px;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            text-align: end;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            font-size: 3rem;
            color: white;
            flex-wrap: wrap;
            word-break: break-all;
            word-wrap: break-word;
        }
        .calculator__keys {
            padding-top: 10px;
            margin: 10px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap: 5px;
            button {
                border: 1px solid $backup-color;
                background-color: $primary-color;
                height: 50px;
                font-size: 24px;
                color: #EEEBD3;
                border-radius: 5px;
            }
            button:active {
                box-shadow: inset 0px 0px 4px 5px $display-color;
            }
            #calculate {
                height: 100%;
                background-color: $backup-color;
                grid-column: 4/5;
                grid-row: 3/7;
            }#percentage {
                grid-column: 1/3;
                } 
            #negativepositive {
                grid-column: 3/5;
                }
            #clearing {
                background-color: rgb(255, 75, 75);
                font-weight: bold;
            }
            }
        #logo {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            height: 50px;
            color: #BB6B00;
            span {
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    body {
        .calculator {
            width: 500px;
            height: 700px;
            border: 5px solid black;
            border-radius: 20px;
            .calculator__display {
                height: 18%;
                padding: 5px;
                margin: 10px;
                border-radius: 5px;
                text-align: end;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                font-size: 5rem;
                flex-wrap: wrap;
                word-break: break-all;
                word-wrap: break-word;
            }
            .calculator__keys {
                gap: 10px;
                button {
                    border: 2px solid $backup-color;
                    height: 70px;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
        }
    }
}